.navbar {
  background-color: #000000 !important;
  padding: 10px;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #6aff00 !important;
  margin-right: 200px;
}

.navbar-toggler-icon {
  background-color: #6aff00;
  padding: 5px;
}

.nav-link:hover {
  color: #ffffff !important;
}

.btn-primary,
.btn:disabled {
  background-color: #6aff00;
  border-color: #6aff00;
  color: #000000;
}

.btn-primary:hover {
  background-color: #59d600;
  border-color: #59d600;
  color: #000000;
}

.card-body,
.form-select,
.form-control,
.select-coach-img {
  background-color: #000000;
  color: #ffffff;
}

body {
  background-color: #1a1a1a;
}

.image-overlay {
  height: 500px;
  position: relative;
}

.image-overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  color: white;
  text-align: center;
  z-index: 1;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-wrapper a {
  margin-top: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-img-top {
  height: 400px;
  object-fit: cover;
}

.select-coach-img {
  height: 300px;
  object-fit: cover;
}

.fc-day-selected {
  background-color: #007bff;
  color: white;
}

.green-text {
  color: #6aff00;
}

.black-box{
  background-color: #000000;
  padding: 20px;
  border-radius: 5px;
}

.gray-box{
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 5px;
}

h5 {
  font-size: 2em;
}

.form-control[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.form-control[type="date"]:focus::-webkit-calendar-picker-indicator {
  filter: none;
}

.form-select:focus {
  background-color: #ffffff;
  color: #000000;
}

.under-card{
  padding-bottom: 20px;
}